{% include 'navbar.html' %}


<style>
      .div1 {
        width: 500px;
        height: 50px;
        background-color: #FFFFFF;
        border: 1px solid;
        margin-left: 477px;
        margin-top: 140px;
        display: flex;
        border-radius: 5px;
    }
</style>
{% block content %}
    <h1 style="margin-left: 5%;">Upload Data</h1>
    

        {% if messages %}
            {% for message in messages %}
                <div id="flash-message" class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container">
            <form action="{% url 'catalyst_app:upload_file' %}" method="post" enctype="multipart/form-data" class="w-50 mx-auto">
                {% csrf_token %}
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="file" required onchange="updateFileName(this)">
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Upload</button>
            </form>
        </div>
        
        
<!--         
        <div id="progressBarContainer" style="display: none;">
            <progress id="progressBar" value="0" max="100"></progress>
            <span id="progressPercent">0%</span>
        </div> -->

    
{% endblock %}


<script>
      setTimeout(function() {
        var flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
            flashMessage.style.display = 'none';
        }
    }, 4000);
</script>
<script>
    function updateFileName(input) {
        var fileName = input.files[0].name;
        var label = input.nextElementSibling;
        label.innerText = fileName;
    }
</script>