
{%include 'navbar.html'%}

<style>
    /* Some basic styling */
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    /* Custom styling for dropdowns */
    .filter-dropdown {
        width: 200px; /* Adjust as needed */
        margin-bottom: 10px;
    }
    /* Custom styling for search input */
    #filterKeyword {
        width: 300px; /* Adjust as needed */
        margin-bottom: 10px;
    }
</style>
</head>
<body>
<div class="container">
    <h1>Query Builder</h1>

    <!-- Flash messages section -->
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong>{{ message }}</strong>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <!-- Filter form -->
    <form id="filterForm" method="GET" action="{% url 'catalyst_app:filter_data' %}">
        <!-- Keyword search input -->
        <div class="form-group">
            <input type="text" class="form-control" id="filterKeyword" name="keyword" placeholder="Keyword Search">
        </div>

        <!-- Filter dropdowns arranged in rows -->
        <div class="row" id="filterDropdowns">
            <!-- Dropdowns will be populated dynamically here -->
            {% for column, values in unique_data.items %}
                <div class="col-md-4">
                    <select class="form-control filter-dropdown" id="filter{{ column }}" name="{{ column }}">
                        <option value="">Select {{ column }}</option>
                        {% for value in values %}
                        <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>

        <!-- Filter button -->
        <div class="row mt-3">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>

    <!-- Filtered results -->
    <div class="row mt-3">
        <div class="col-md-12">
            
        </div>
    </div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
    // Function to make flash messages disappear after 6 seconds
    setTimeout(function() {
        $('.alert').fadeOut('slow');
    }, 6000);
</script>

</html>
